.cat{
    padding-top: 30px;
}

.cat ul{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    left: 164px;
    margin: 0;
    padding: 0;
    /* padding-right: 50px; */
    /* padding-left: 50px; */
}

.cat a{
    border-radius: 8px;
    padding: 10px;
    border: 2px solid #000;
    width: 200px;
    text-align: center;
}

.cat a:hover{
    background-color: #3498db;
    color: #131024;
    /* border: hidden; */
}

.cat a:focus {
    background-color: #3498db;
    color: #fff;
}